.pin-feed-page {
    margin-top: 100px;
}

.pin-feed-container {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* margin-left: 30px;
    margin-right: 30px; */
}

.pin-feed-card {
    width: 256px;
    overflow: hidden;
    padding: 8px 8px 8px 8px;
    display: block;

}

.pin-feed-image {
    width: 256px;
    height: auto;
}

.pin-feed-image:hover {
    cursor: zoom-in;
    filter:brightness(60%);
}

.pin-feed-title {
    font-size: 18px;
    text-align: left;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    max-width: 100%;
    overflow: hidden;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}
