.login-form-container {
    height: 618px;
    height: 484px;
}

.login-input-container {
    margin: 20px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "SFMono-Medium","SF Mono","Segoe UI Mono","Roboto Mono","Ubuntu Mono","Menlo,Consolas",Courier,monospace;
}

.welcome-header {
    font-size: 36px;
    font-weight: 600;
}

.input-container {
    margin: 5px 5px;
    padding-bottom: 10px;
}

.form-input {
    box-sizing: border-box;
    min-height: 48px;
    padding: 8px 16px;
    /* width: 100%; */
    width: 268px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 15px;
    border: 1px solid lightgray;
    line-height: normal;

}


.form-button {
    box-sizing: border-box;
    height: 40px;
    display: inline-block;
    border-radius: 20px;
    padding: 0 18px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(230, 0, 35);
    color: white;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    border: none;
}

.form-button:disabled {
    box-sizing: border-box;
    height: 40px;
    display: inline-block;
    border-radius: 20px;
    padding: 0 18px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    vertical-align: middle;
    text-align: center;
    color: gray;
    background-color: #efefef;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    border: none;
}

.demo-form-button {
    box-sizing: border-box;
    height: 40px;
    display: inline-block;
    border-radius: 20px;
    padding: 0 18px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    vertical-align: middle;
    text-align: center;
    background-color: #3370eb;
    color: white;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    border: none;
    margin-bottom: 10px;
}

.divider {
    font-family:'-apple-system', 'BlinkMacSystemFont', 'Segoe UI','Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
    /* padding: 16px 0; */
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 12px;
}

.small-text {
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    color: rgb(118, 118, 118);
    width: 232px;

}
