.all-comments-container {
    /* border: 1px solid red; */
    box-sizing: border-box;
    display: flex;
    margin-top: 16px;
    flex-direction: column;


}

.comment-holder {
    /* border: 1px solid rgb(187, 255, 0); */
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;

}

.comment-info {
    border: 1px solid #cdcdcd;
    width: 380px;
    height: auto;
    border-radius: 16px;
    padding: 12px 12px 12px 12px;
}

.comment-profile-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-username {
    font-size: 14px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

.comment-content {
    font-size: 12px;
    margin-top: 3px;
}

.create-comment-form-container {
    display: flex;
    justify-content: flex-end;
}

.create-comment-form {
    display: flex;
    flex-direction: column;
}

.create-comment-input {
    width: 380px;
    border-radius: 16px;
    height: auto;
    min-height: 30px;
    max-height: 200px;
    padding: 12px 12px 12px 12px;
    border: 1px solid #cdcdcd;
    overflow: visible;
    flex: 1 1 auto;


}

.create-comment-button-div {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
}

.create-comment-button {
    width: 65px;
    height: 40px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
    background-color: #efefef;
    border: none;
}
