.create-pin-btn-container {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* align-items: flex-end; */
    /* margin-bottom: 200px;
    margin-right: 20px; */
    /* position: fixed; */

    z-index: 6;

}

.create-pin-btn-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;

    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: 5;
    margin-bottom: 20px;
    margin-right: 20px;

    transform: translateY(0px) translateZ(0px);
}

.create-pin-btn {
    border-radius: 50%;
    padding: 15px 15px 15px 15px;
    background-color: white;
    border: none;
    box-shadow: rgb(0 0 0 / 30%) 0px 8px 28px;
    /* position: fixed; */

}

.fa-plus {
    font-size: 30px;
}

.splash-footer {
    height: 80px;
    box-shadow: rgb(0 0 0 / 30%) 0px 8px 28px;
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

.splash-footer-paragraph {
    padding: 10px 70px 10px 70px;
    text-align: center;
    font-size: 1.2rem;
    color: var(--gray-secondary);
    padding-bottom: 1.8rem;

}

.github-links {
    text-decoration: none;
    color:black;
}

.linkedin-links {
    text-decoration: none;
    color:black;
}

.splash-footer-paragraph > a:hover {
    text-decoration: underline;
}
