.single-board-page {
    padding-bottom: 100px;

}

.pin-container {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.pin-card {
    width: 256px;
    overflow: hidden;
    padding: 8px 8px 8px 8px;
    display: block;
}



.pin-image {
    width: 256px;
    height: auto;
}

.pin-image:hover {
    cursor: zoom-in;
    filter:brightness(60%);
}

.single-board-title {
    font-size: 18px;
    text-align: left;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    max-width: 100%;
    overflow: hidden;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}



.board-title-header {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
}

.board-profile-img-div {
    display: flex;
    justify-content: center;
    padding-top: 10px;

}

.board-profile-img {
    width:48px;
    height: 48px;
    border-radius: 50%;
}

.single-board-profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.single-board-profile-img-div {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
