

.splash {
    margin-left: 0;
    margin-right: 0;
}

.splash-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* top: 20%; */

    margin-top: 10%;

    width: 100%;

}

.splash-header {
    font-size: 60px;
    font-weight: bold;
    align-self: center;
    display: flex;
    text-align: center;
    /* justify-content: center; */
    position: absolute;
    top: 250px;

}


.splash-image-container {
    display: grid;
    /* grid-auto-rows: minmax(125px, auto); */
    /* grid-auto-columns: minmax(125px, auto); */

    grid-template-columns: 107px 107px 107px 107px 107px 107px 107px;
    grid-gap: 10.5rem;
    align-items: center;
    /* justify-content: center; */
    /* overflow-wrap: normal; */
    overflow-x:hidden;

}

img {
    width: 250px;
    height: 350px;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 15%) 0px 8px 28px;
}

.splash-image {
    display: grid;
    grid-gap: 2rem;


}

#col-1 {
    margin-top: 0px;

}

#col-2 {
    margin-top: 250px;

}

#col-3 {
    margin-top: 400px;
}

#col-4 {
    margin-top: 550px;
}

#col-5 {
    margin-top: 400px;
}

#col-6 {
    margin-top: 250px;
}

#col-7 {
    margin-top: 0px;
}
