.create {
    /* margin-top: 400px; */
}

.heading-save-btn {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 10px;
}

.pin-login-error-container {
    display: flex;
    flex-direction: column;

}

.save-pin-btn-form {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.create-pin-heading {
    display: flex;
    flex-direction: row;
}

.create-pin-form-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    width: 880px;
    height: 650px;
    /* padding: 40px 40px 0; */
}

.save-pin-btn {
    background-color: #e60023;
    color: white;
    border-radius: 24px;
    padding: 12px 16px;
    border: none;
    min-width: 69px;
    box-sizing: border-box;
    min-height: 48px;
    cursor: pointer;
    line-height: normal;
    font-size: 16px;
    font-weight: bold;
    /* display: block; */
    /* margin-left: 16px; */
}

.save-pin-btn:disabled {
    color: gray;
    background-color: #efefef;
    border-radius: 24px;
    padding: 12px 16px;
    border: none;
    min-width: 69px;
    box-sizing: border-box;
    min-height: 48px;
    cursor: pointer;
    line-height: normal;
    font-size: 16px;
    font-weight: bold;
}


/* .pin-login-error-container {

} */

.create-pin-input-container {
    display: flex;
    /* justify-content: center; */
    border-radius: 24px;
    width: 800px;
    height: 550px;
    box-shadow: rgb(0 0 0 / 40%) 0px 8px 28px;
    /* border: 2px solid blue; */
    /* padding: 0 0 20px; */
}


.create-pin-photo-div {
    display: flex;
    /* justify-content: column; */
    /* border: 2px solid hotpink; */
    /* width: 380px;
    height: 510px;
    padding: 0 20px; */
}

.pin-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid orange; */
    background-color: #efefef;
    width: 380px;
    height: 550px;
    padding: 0 20px;


    border-radius: 24px;

}

.pin-photo-url {
    width: 340px;
    height: 410px;
    border: 3px dashed #ddd;;
    background-color: #efefef;
    word-wrap:normal;
    overflow-wrap: auto;
    resize: none;


}

.create-pin-input-div {
    padding-top: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;

    width: 420px;
    max-height: 950px;
    height: 510px;
    /* border: 2px solid yellow; */
}

.pin-title-div {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 85px;
    /* border: 3px solid lightseagreen; */
    padding-bottom: 100px;

}

.pin-title {
    display: flex;

    width: 350px;
    height: 65px;
    border: none;
    border-bottom: 2px solid #ddd;
    color: #767676;
    font-size: 36px;
    font-weight: 700;

    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;

    word-wrap: break-word;
    overflow: auto;
    /* overflow-wrap: break-word;
    resize: none;
    vertical-align: top; */
}

.pin-description-div {
    display: flex;

    width: 380px;
    height: 65px;
    /* border: 3px solid lightseagreen; */
    padding-bottom: 100px;

}

.pin-description {
    display: flex;

    /* align-items: flex-end; */

    width: 350px;
    height: 40px;

    border: none;
    border-bottom: 2px solid #ddd;

    word-wrap: break-word;
    overflow: auto;
    resize: none;

    font-size: 15px;

    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;

}

.pin-source-link-div {
    display: flex;
    width: 380px;
    height: 65px;
    /* border: 3px solid lightseagreen; */
}

.pin-source-link {
    width: 350px;
    height: 65px;

    border: none;
    border-bottom: 2px solid #ddd;

    word-wrap: break-word;
    overflow: auto;
    resize: none;

    font-size: 15px;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;


}
