#modal {
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    min-height: 400px;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #modal-content {
    /* position: absolute; */
    position: relative;
    background-color:white;
    border-radius: 32px;
    width: 484px;
    height: 618px;
    /* min-height: 400px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 20px 10px 24px;
    text-align: center;
  }



#board-modal {
  position: fixed;
  top: 80px;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  min-height: 400px;
}

#board-modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#board-modal-content {
  position: relative;
  background-color:white;
  border-radius: 32px;
  width: 540px;
  height: 361px;
  /* min-height: 400px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 20px 10px 24px;
  text-align: center;
}


#edit-board-modal {
  position: fixed;
  top: 80px;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
  min-height: 400px;
}

#edit-board-modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#edit-board-modal-content {
  position: relative;
  background-color:white;
  border-radius: 32px;
  width: 540px;
  height: 361px;
  /* min-height: 400px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 20px 10px 24px;
  text-align: center;
}

#signup-modal {
  position: fixed;
  top: 30px;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  min-height: 400px;
  /* overflow-y: auto; */
  /* height: 100%; */

}

#signup-modal-background {
  position: fixed;
  /* position: absolute; */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);


}

#signup-modal-content {
  /* position: absolute; */
  position: relative;
  background-color:white;
  border-radius: 32px;
  width: 484px;
  height: 659px;

  /* min-height: 400px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 20px 10px 24px;
  text-align: center;
  /* height: 100%; */

}


#create-pin-modal {
  position: fixed;
  top: 30px;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  min-height: 400px;
  /* overflow-y: auto; */
  /* height: 100%; */
}

#create-pin-modal-background {
  position: fixed;
  /* position: absolute; */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#create-pin-modal-content {
  /* position: absolute; */
  position: relative;
  background-color:white;
  border-radius: 16px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  width: 950px;
  height: 674px;

  /* min-height: 400px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 20px 10px 24px;
  text-align: center;
  /* height: 100%; */
}

#edit-pin-modal {
  position: fixed;
  top: 30px;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  min-height: 400px;
  /* overflow-y: auto; */
  /* height: 100%; */
}


#edit-pin-modal-background {
  position: fixed;
  /* position: absolute; */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#edit-pin-modal-content {
  /* position: absolute; */
  position: relative;
  background-color:white;
  border-radius: 16px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  width: 880px;
  height: 659px;

  /* min-height: 400px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* justify-content: center; */
  padding: 20px 10px 24px;
  text-align: center;
  /* height: 100%; */
}


#boardpin-modal {
  position: fixed;
  /* position: relative; */
  top: 30px;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  min-height: 400px;
  /* overflow-y: auto; */
  /* height: 100%; */
}

#boardpin-modal-background {
  position: fixed;
  /* position: absolute; */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#boardpin-modal-content {
  /* position: absolute; */
  position: relative;
  background-color:white;
  border-radius: 16px;
  border: 1px solid;
  width: 360px;
  height: 498px;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  /* height: 100%; */
  overflow: auto;
}
