
.edit-pen-btn {
    display: flex;
    /* justify-content: center; */
    /* align-self: flex-end; */

    /* position: absolute; */
    position: relative;
    top: 145px;
    left: 195px;

    border-radius: 50%;
    border: none;
    padding: 8px 8px 8px 8px;
    background-color: white;
}

.edit-pen-btn:hover {
    opacity: .8;
}

.fa-pen {
    font-size: 15px;
}

.edit-board-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.edit-title {
    width: 476px;
    height: 48px;
    padding: 8px 16px;
    border-radius: 24px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
}

.edit-button-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 35px;
    margin-right: 10px;
}

.edit-board-btn {
    width: 84px;
    height: 48px;
    border-radius: 24px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #e60023;
}

.delete-btn-div {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
}

.delete-board-btn {
    width: 150px;
    height: 48px;
    /* border-radius: 24px; */
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: white;
}
.delete-text {
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
    color: #767676;
    font-weight: normal;
    /* align-items: center; */
    /* flex-direction: column; */
}
