.signup-form-container {
    height: 656px;
    width: 484px;
    overflow: auto;
}

.signup-error-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    color: black;
    font-size: 12px;
}

.logo-signup {
    width: 34px;
    height: 34px;
}

.login-input-container {
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "SFMono-Medium","SF Mono","Segoe UI Mono","Roboto Mono","Ubuntu Mono","Menlo,Consolas",Courier,monospace;
}

.welcome-header {
    font-size: 36px;
    font-weight: 600;
}

.input-container {
    margin: 1px 1px;
    padding-bottom: 5px;
}

.form-input {
    box-sizing: border-box;
    min-height: 48px;
    padding: 8px 16px;
    /* width: 100%; */
    width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 15px;
    border: 1px solid lightgray;
    line-height: normal;

}


.form-button {
    box-sizing: border-box;
    height: 40px;
    display: inline-block;
    border-radius: 20px;
    padding: 0 18px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(230, 0, 35);
    color: white;
    width: 286px;
    -webkit-font-smoothing: antialiased;
    border: none;
    margin-bottom: 10px;
}

.form-button:disabled {
    box-sizing: border-box;
    height: 40px;
    display: inline-block;
    border-radius: 20px;
    padding: 0 18px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    vertical-align: middle;
    text-align: center;
    color: gray;
    background-color: #efefef;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    border: none;
}

.small-text {
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    color: rgb(118, 118, 118);
    width: 260px;

}
