.followers-header {
    display: flex;
    justify-content: center;

    margin-top: 24px;
    margin-bottom: 24px;

    font-size: 28px;
    font-weight: bolder;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    /* border-bottom: 1px solid #efefef; */
}

.followers-title-section {

    display: flex;

    margin-left: 64px;
    margin-right: 64px;
}

.followers-title {
    padding-left: 10px;
}


.fa-times {

    font-size: 25px;
    color: #767676;
}

.exit-followers-modal {

    display: flex;
    justify-content: flex-end;

    display: block;
    cursor: pointer;
    /* border: 1px solid red; */
}

.exit-modal-div {

}
